@font-face {
	font-family: myFirstFont;
	src: url(/resources/fonts/ADAM.CG_PRO.otf);
}

.adam{
	font-family: myFirstFont;
}

/* Control the margin between 
all the menu options and the title */
@media(min-width: 992px){
	.navbar-expand-lg .navbar-collapse{
		width: 100%;
	}
}

/* Menu option background changes color when mouse over */
.nav-item:hover {
	background-color: #ABABAB;
}