body 
{
	background-color: #f0f0f0;
}

html 
{
	scroll-behavior: smooth;
}

footer
{
	margin-top: 2em;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 0.8em;
}

span.anchor 
{
    margin-top: -0.5em; /* height of nav, in this case 54px */
    display: block;
    height: 0.5em; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}