<header>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="myNavbar">
		
		<!-- left side -->
		<div class="collapse navbar-collapse order-lg-1 order-3 navigation-menu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active" id="liHome">
					<a class="nav-link adam" href="#" onclick="changeMenuClass('liHome')">Home</span></a>
				</li>
				<li class="nav-item" id="liProjects">
					<a class="nav-link adam" href="#sectionProjects" onclick="changeMenuClass('liProjects')">Proyectos</a>
				</li>
			</ul>
		</div>

		<!-- title -->
		<a class="navbar-brand order-1 mr-lg-0 adam" href="/index.html">ARQANA</a>
		<!--
		TODO: Replace previous tag with this one when the logo is ready
		<a class="navbar-brand order-1 mr-lg-0 adam" href="#">
			<img src="/resources/img/logo.png" alt="Arqana Alvaro Noguera arquitecto" width="100px" />
		</a>
		-->
		<button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target=".navigation-menu">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<!-- right side -->
		<div class="collapse navbar-collapse order-lg-3 order-4 navigation-menu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link adam" href="#sectionMe" id="liWhoAmI" onclick="changeMenuClass('liWhoAmI')">¿Quién soy?</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link adam" href="#sectionContact" id="liContact" onclick="changeMenuClass('liContact')">Contacto</a>
				</li>
			</ul>
		</div>
	</nav>
</header>