<div class="container" id="containerWhoAmI">
	<h2>¿Quién soy?</h2>
	<div class="projectsContent">
		<div class="row">
			<div class="col-md-7">
				<div id="myDescription">
					<span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil neque nemo, beatae voluptatibus repudiandae velit obcaecati ratione, porro placeat dolores quis debitis provident tempore laborum voluptates, eaque assumenda quos.
					Quasi culpa blanditiis nisi ipsa tempora iste omnis nulla distinctio, animi placeat debitis. Quam necessitatibus nemo, praesentium in mollitia excepturi distinctio incidunt earum maiores, natus quasi amet unde ad at.
					Voluptatum debitis error eaque temporibus repudiandae hic asperiores ipsa accusantium aliquid vitae, nostrum libero, optio modi nobis cum aliquam eius ut consequatur dolorem. Suscipit harum quasi dignissimos iusto quis reiciendis.
					Sunt aperiam consequatur ullam voluptates beatae dolores delectus officia rem iure facere. Aut ipsum doloremque blanditiis qui iure, deleniti pariatur. Aliquam, qui reprehenderit odit ipsum dolores corporis alias vel iste?<br><br>
					Atque, a modi illo excepturi cum molestias doloribus. Molestias dolore corporis a adipisci tenetur consectetur. Cum possimus quod sapiente vel dolorum sint voluptate reprehenderit. Hic eum error libero necessitatibus earum?
					Quasi culpa blanditiis nisi ipsa tempora iste omnis nulla distinctio, animi placeat debitis. Quam necessitatibus nemo, praesentium in mollitia excepturi distinctio incidunt earum maiores, natus quasi amet unde ad at.
					Voluptatum debitis error eaque temporibus repudiandae hic asperiores ipsa accusantium aliquid vitae, nostrum libero, optio modi nobis cum aliquam eius ut consequatur dolorem. Suscipit harum quasi dignissimos iusto quis reiciendis.</span> 
				</div>
			</div>
			<div class="col-md-5">
				<div id="myImage">
					<img src="/resources/img/perfil.jpg" alt="Alvaro Noguera arquitecto" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>