<div class="container">
	<h2>Proyectos</h2>
	<div class="projectsContent">
		<div class="row">
			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa1.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Casa Ginebra</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Tulcán</p>
						</div>
					</a> </div>
			</div>
			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa2.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Reforma integral</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Quito</p>
						</div>
					</a> </div>
			</div>
			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa3.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Mansión Federico</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Tulcán</p>
						</div>
					</a> </div>
			</div>

			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa1.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Casa Ginebra</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Tulcán</p>
						</div>
					</a> </div>
			</div>
			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa2.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Reforma integral</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Quito</p>
						</div>
					</a> </div>
			</div>
			<div class="col-md-4">
				<div class="content"> <a href="#">
						<div class="content-overlay"></div> <img class="content-image" src="/resources/img/casas/casa3.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Mansión Federico</h3>
							<p class="content-text"><i class="fa fa-map-marker"></i> Tulcán</p>
						</div>
					</a> </div>
			</div>

			
		</div>

	</div>
</div>